<%- include('header'); -%>
<%- include('header-top'); -%>
<section class="dashboard--1 ">
  <div class="d-flex">
    
<div class="sidebar">
  <%- include('side-bar'); -%>
 
</div>

        <div class="side-bar content">
   <div class="d-flex align-items-center">
                <div class="title-dash">
                    <h4>Manage Book Payment</h4>
                    <ul>
                        <li class="list-inline-item"><a>Home </a></li>
                        <li class="list-inline-item"><span>/</span> <a href="javascript:void(0);"
                                class="breadcrum"> Book Payment</a></li>
                    </ul>
                </div>

                <div class="button-table text-end ms-auto">
                    <a href="export_registers_file" class="btn btn-dash--1">
                        <i class="fa fa-download me-2"></i>Export</a>
                   
                </div>
            </div>
  <div class="user-profile-dash">
     <table id="example" class="table table-striped table-dash" style="width:100%">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Name</th>
                            <th>Order Id </th>
                            <th>Transaction Amount</th>
                            <th>Transaction Id</th>
                            <th>Transaction Date</th>
                            <th>Payment Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                           <tr>
                            <td>1</td>
                            <td>Pranali</td>
                            <td>123</td>
                            <td>11000</td>
                            <td>1222</td>
                            <td>1222</td>
                             <td>Done</td>
                    <td class="table-icon">
                        <a href="javascript:void(0);" class="me-3">
                            <i class="fa fa-eye"></i>
                        </a>
                       
                        <a href="javascript:void(0);">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
            </tr>


          
        </tbody>
    </table>
  </div>


</div>
    </div>
</section>
<%- include('footer'); -%>
