<%- include('header'); -%>
<%- include('header-top'); -%>
<section class="dashboard--1 ">
  <div class="d-flex">
    
<div class="sidebar">
  <%- include('side-bar'); -%>
 
</div>



        <div class="side-bar content">
   <div class="d-flex align-items-center">
                <div class="title-dash">
                    <h4>Manage Advertise </h4>
                    <ul>
                        <li class="list-inline-item"><a>Home </a></li>
                        <li class="list-inline-item"><span>/</span> <a href="javascript:void(0);"
                                class="breadcrum">Advertise</a></li>
                    </ul>
                </div>

                <div class="button-table text-end ms-auto">
                    <a href="export_registers_file" class="btn btn-dash--1">
                        <i class="fa fa-download me-2"></i>Export</a>
                    <a href="add-advertise" class="btn btn-dash--1"><i class="fa fa-plus me-2"></i>Add
                        Advertise </a>

                </div>
            </div>
  <div class="user-profile-dash">
    <table id="example" class="table table-striped table-dash" style="width:100%">
        <thead>
            <tr>
                 <th>Sr. No.</th>
                <th>Title</th>
                <th>Script Code</th>
                <th>Start Date</th>
                <th>End Date </th>
               <th>Images</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>1</td>
                <td>Book Sale</td>
                <td>Google Script</td>
                <td>21-10-2023</td>
                <td>21-10-2024</td>
                <td>  <img src="images/burger.jpeg" alt="logo" width="20%"></td>
                <td class="table-icon">
                    <a href="/view-book" class="me-3">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="/edit-book" class="me-3">
                       <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
                <tr><td>2</td>
                <td>Book Sale</td>
                <td>Google Script</td>
                <td>21-10-2023</td>
                <td>21-10-2024</td>
                <td>  <img src="images/burger.jpeg" alt="logo" width="20%"></td>
                <td class="table-icon">
                    <a href="/view-book" class="me-3">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="/edit-book" class="me-3">
                       <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <a href="javascript:void(0);">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
          
        </tbody>
    </table>
  </div>


</div>
    </div>
</section>

<%- include('footer'); -%>
