   <nav class="sidebar-vertical py-2 mb-4" id="header-main">
        
        <ul class="nav flex-column navbar-sidebar" id="nav-accordion">
            <li class="nav-item ">
                <a class="nav-link btn-ac active" title="Dashboard" href="dashboard">
                    <i class="fa fa-tachometer left-nav"></i> 
                    <div class="nav-text">Dashboard </div>
                </a>
            </li>
            
            <li class="nav-item has-submenu">
                <a class="nav-link btn-ac" href="javascript:void(0);"  title="Application  sub">
                    <i class="bx bx-category left-nav"></i> 
                    <div class="nav-text">Student</div> 
                    <i class="fa fa-angle-right right-nav"></i> 
                </a>
                <ul class="submenu collapse">
                    <li><a class="nav-link btn-ac" href="manage-student">Manage Students</a></li>
                    <li><a class="nav-link btn-ac" href="manage-books">Manage Books </a></li>
                    <li><a class="nav-link btn-ac" href="manage-payment">Manage Payments </a> </li>
                </ul>
            </li>
            <li class="nav-item has-submenu">
                <a class="nav-link btn-ac" href="javascript:void(0);" title="eCommerce">
                    <i class="bx bx-cart left-nav"></i> 
                    <div class="nav-text">Shop  </div> 
                    <i class="fa fa-angle-right right-nav"></i> 
                </a>
                <ul class="submenu collapse">
                    <li><a class="nav-link btn-ac" href="manage-shop">Manage Shop</a></li>
                    <li><a class="nav-link btn-ac" href="manage-shop-book">Manage Books </a></li>
                    <li><a class="nav-link btn-ac" href="manage-shop-payment">Manage Payments </a> </li>
                </ul>
            </li>
            <li class="nav-item has-submenu">
                <a class="nav-link btn-ac" href="javascript:void(0);" title="eCommerce">
                    <i class="bx bx-cart left-nav"></i> 
                    <div class="nav-text">Master  </div> 
                    <i class="fa fa-angle-right right-nav"></i> 
                </a>
                <ul class="submenu collapse">
                    <li><a class="nav-link btn-ac" href="manage-category">Manage Cateory</a></li>
                    <li><a class="nav-link btn-ac" href="manage-author">Manage Author</a></li>
                    <li><a class="nav-link btn-ac" href="manage-books">Manage Book </a> </li>
                     <li><a class="nav-link btn-ac" href="membership-plan">Membership Plan</a> </li>
                    <li><a class="nav-link btn-ac" href="manage-promocode">Promo Code</a> </li>
                     
                </ul>
            </li>
             <li class="nav-item">
                <a class="nav-link btn-ac" href="manage-product" title="Table">
                    <i class="bx bx-category left-nav"></i>
                    <div class="nav-text">Manage Product</div>    </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-ac" href="book-history" title="Table">
                    <i class="bx bx-category left-nav"></i>
                    <div class="nav-text">Book History </div>    </a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link btn-ac" href="manage-payment" title="Products Add">
                    <i class="bx bx-diamond left-nav"></i>
                    <div class="nav-text">Manage Payment</div>    </a>
            </li>

             <li class="nav-item">
                <a class="nav-link btn-ac" href="manage-advertise" title="Manage Advertise">
                    <i class="bx bx-diamond left-nav"></i>
                    <div class="nav-text">Manage Advertise</div>    </a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link btn-ac" href="manage-user" title="User Profile">
                    <i class="bx bx-user-circle left-nav"></i>
                    <div class="nav-text">Manage User </div>   </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-ac" href="javascript:void(0);" title="Logout">
                    <i class="bx bx-user-circle left-nav"></i>
                    <div class="nav-text">Logout </div>   </a>
            </li>
           <!--  <li class="nav-item">
                <a class="nav-link btn-ac" href="javascript:void(0);" title="Charts & Maps">
                    <i class="bx bx-home-alt left-nav"></i> 
                    <div class="nav-text"> Charts & Maps </div>  </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn-ac" href="javascript:void(0);" title="Forms ">
                    <i class="bx bx-message-square-edit left-nav"></i>
                    <div class="nav-text"> Forms </div>  </a>
            </li> -->
        </ul>
    </nav>